<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="capabilities">
			<section name="single" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="local" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</sectionGroup>

		<sectionGroup name="environments">
			<section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="user" value="bharatitcgplayer" />
		<add key="key" value="Eh0bT3rYWA7gDVEUfhfLbueyWk8LS52E9ctLQ5cMGQhzzuIzOa" />
		<add key="server" value="hub.lambdatest.com" />
	</appSettings>

	<capabilities>
		<single>
			<add key="build" value="nunit" />
			<add key="name" value="single_test" />
			<add key="tunnel" value="false" />
		</single>

		<parallel>
			

			<add key="tunnel" value="false" />
		</parallel>
	</capabilities>

	<environments>
		<chrome>
			<add key="browser" value="chrome" />
			<add key="browserVersion" value="101.0" />
			<add key="platformName" value="Win10" />
		</chrome>
		<firefox>
			<add key="browser" value="firefox" />
			<add key="browserVersion" value="96.0" />
			<add key="platformName" value="Win11" />
		</firefox>
		<safari>
			<add key="browser" value="safari" />
			<add key="browserVersion" value="16.0" />
			<add key="platformName" value="MacOS Ventura" />
		</safari>
		<ie>
			<add key="browser" value="ie" />
		</ie>
	</environments>
</configuration>
